body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.conteudo{
  flex: 1;
}

.fundo {
  background-color: #6f42c1;
  width: 100%;
  color: aliceblue;
  text-align: center;
  padding: 12px 0;
}

.agenda-contatos{
  font-family: "Cambo", serif;
  font-weight: 800;
  font-style: normal;
     margin-top: 10vh;
     text-align: center;
     color:  rgb(128, 29, 241);
     font-size: 5vh;
     margin-bottom: 3vh;
}

.form-control{
    height: 5vh;
}

.form-group{
     font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
    color: aliceblue;
    font-size: 2vh;

}

tr{
    font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

/*CONTAINEr pagina de cadastrar // */
.container{
    background: linear-gradient(to bottom,#9a4af6,#7513e5);
    background-color: blueviolet;
    min-width: 90vh;
    border-radius: 15px;
    padding: 2vh;
    margin-bottom: 18vh;
}

.container-criar{

    background: linear-gradient(to bottom,#9a4af6,#7513e5);
    background-color: blueviolet;
    width: 118vh;
    border-radius: 15px;
    padding: 2vh;
    margin-bottom: 18vh;
    margin-left: 40vh;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); 
}

.titulo-principal{
     font-family: "Cambo", serif;
  font-weight: 800;
  font-style: normal;
   margin-top: -3vh;
   text-align: center; 
   font-size: 6vh;
}

/*Botão*/
.btn-sm{
    border: #7513e5;
    background: linear-gradient(to bottom,#9a4af6,#7513e5);
    margin-left: 50vh;
}
.titulo{
      font-family: "Cambo", serif;
  font-weight: 800;
  font-style: normal;
   margin-top: 10vh;
   text-align: center; 
   font-size: 9vh;
}

.bg{
    background-color: rgb(128, 29, 241);
}
.navbar{
      background: linear-gradient(to bottom,#9a4af6,#7513e5);
}
#palavra-nav{
    color: aliceblue;
}

h2{
    color:  rgb(128, 29, 241);
    margin-top: 10vh;
    margin-bottom: 7vh;
    margin-left: -2vh; 
    font-size: 7vh;

}

.logo-nav{
    height: 9vh;
}

.show{
   margin-top: 10vh;
   margin-left: 37vh;
   font-size: 3vh;
}

.nome-principal{
    position: sticky;
    text-align: center;
    font-size: 6vh;
    color: #7513e5;
}

.perso{
      position: sticky;
    margin: 0;
    margin-top: 10vh;
    color: #7513e5;
    margin-left: 95vh;
    font-size: 10vh;
}

.ver-contato{
    margin-left: 3vh;
}

/* CRIAR CONTATO, QUANDO NAO TIVER NENHUM*/

a{
    color: #7513e5;
}
h3{
    text-align: center;
}

.botao{
    margin-top: -11vh;
    margin-left: 40vh;
    background: linear-gradient(to bottom,#9a4af6,#7513e5);
    position: absolute;
    padding: 1vh;
    font-size: 2vh; 
}

/* BOTÃO DE VOLTAR // create.php*/

.botao1{
    margin-top: -11vh;
    margin-left: 40vh;
    background: linear-gradient(to bottom,#9a4af6,#7513e5);
    position: absolute;
    padding: 1vh;
    font-size: 2vh;
}

/*CONTAINER PRINCIPAl*/

.container-principal{
    width: 100vh;
    height: -20vh;
    margin-left: 50vh;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); 
    border-radius: 15px;
}


.barra-principal{
     background: linear-gradient(to bottom,#9a4af6,#7513e5);
    background-color: #7513e5;
    
}

th{
    width: 15vh;
    color: aliceblue;
}

.icon-atualizar{
    margin-left: 50vh;
}


/* Mensagem de alerta de sucesso */
.alert-success{
    width: 27vh;
    margin-left: 80vh;
    text-align: center;
    margin-top: 6vh;
    margin-bottom: 0vh;

    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
    
}

.container-footer{
    bottom: 0;
    position: static;
    background-color: #6f42c1;
}